/* style.css */
html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    color: #2c3e50 !important;
}

footer {
    font-size: 0.9rem;
    color: #666;
}
